.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.dist-info/
*.egg-info/
*.egg
*.zip
*.tar.gz
*.sqlite3
*.log

bin/
numpy/
numpy.libs/
pandas/
psycopg2_layer/
lambda_function.zip
dateutil/
pytz/
six.py
tzdata/


